[user]
	name = Georgi Knox
	email = <email>
[github]
	user = GeorgiCodes
[push]
	default = simple
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	st = status
	ci = commit
	last = log -1 HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	all = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	ui = true
