[color]
  diff = auto
  status = auto
  branch = auto
  grep = auto
	ui = true
[alias]
  a = add
	ci = commit
	co = checkout
	br = branch
	st = status
  undo = reset HEAD~1 --mixed
  cdiff = log -p -1 --stat
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	all = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
	excludesfile = ~/.gitignore
